body {
    background-color: #EEEEEE;
    margin: 10px auto;
    width: 85%;
    line-height: 1.4;
}
nav ul {
    font-family: "Courier New", Courier, monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
h1 {
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
}

.post {
    width: 95%;
    margin: 5px auto;
}

.pagination {
    font-family: "Courier New", Courier, monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.tags {
    font-family: "Courier New", Courier, monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

ul.posts {
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
}
