<!DOCTYPE html>
<html>
<head>
    {% if page.title == 'wilder' %}
        <title>wilder</title>
    {% else %}
        <title>wilder/{{ page.title | downcase }}</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
   <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Archives</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/thanks">Thanks</a></li>
   </ul>
</nav>
<div class="container">
   {{ content }}			
</div><!-- /.container -->
</body>
</html>
